@import "tailwindcss";

:root {
  --font-lato: 'Lato', sans-serif;
  --font-league-spartan: 'League Spartan', sans-serif;
}

body {
  font-family: var(--font-lato);
  background: #04070F;
  color: #FFFFFF;
}